<nav class="bg-blue-600 text-white shadow-md py-4 px-4">
    <a class="text-white hover:text-blue-300" href="/">Accueil</a>
    <a class="text-white hover:text-blue-300" href="offres">Offres</a>
    
</nav>
